
<aside id="logo-sidebar"  class="fixed top-0 left-0 z-40 w-64 h-screen p-4 overflow-y-auto transition-transform -translate-x-full bg-white dark:bg-gray-800" tabindex="-1" aria-labelledby="drawer-navigation-label">
  <div class="flex items-center justify-start ">
  <img src="/assets/images/box-icon.png" class="mr-2 h-8" alt="Stock Logo" />
         <span class="self-center text-2xl font-semibold whitespace-nowrap font-mono dark:text-white"
           >MENU</span
         >
         </div>

         <button type="button" data-drawer-hide="logo-sidebar" aria-controls="drawer-navigation" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 absolute top-2.5 end-2.5 inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white" >
          <i class="fa-solid fa-xmark"></i>
          <span class="sr-only">Close menu</span>
     </button>
     <hr class="my-6 border-orange-600 ">

    <div class=" pt-2  overflow-y-auto bg-white dark:bg-gray-800">
       <ul class="space-y-2 font-medium">
          <li>
             <a href="#" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">

                <span class="ms-3">Dashboard</span>
             </a>
          </li>

          <li>
             <a href="#" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">

                <span class="flex-1 ms-3 whitespace-nowrap">Sign In</span>
             </a>
          </li>
          <li>
             <a href="#" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">

                <span class="flex-1 ms-3 whitespace-nowrap">Sign Up</span>
             </a>
          </li>
       </ul>
    </div>
 </aside>
